html, body, #app, #entryPage{
    height: 100%;
}
body{
    padding:0 1em;
    font-family: mono;
    max-width: 26em;
    margin: auto;
}

#topbar, #settingsBar{
    display: flex;
    justify-content: space-between;
    font-size: 150%;
    align-items: baseline;
    
}
#topbar a, #settingsBar a, .button{
    background-color: #ddd;
    color: black;
    padding:0.3em;
    width: 30%;
    text-align: center;
    margin:0.5em;
    text-decoration: none;
}

#topbar{
    position: sticky;
}
.button{
    border:none;
    padding:0.5em;
    font-size: 110%;
    width: 40%;
}
#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
textarea{
    width: 100%;
    height:80%;
    overflow: scroll;
    font-size: 120%;
    border: none;
    padding:0.2em;
}

textarea.mini {
    height:20em;
    overflow: scroll;
}

#menu a{
    padding: 10px 5px;
    margin: 0.5em;
    width: 60%;
    font-size: 180%;
    background-color: #ddd;
    color: black;
    text-align: center;
    text-decoration: none;
}
#date, #older span{
    font-weight: bold;
    font-size: smaller;
    text-align: left;
}
#older{
    padding-top : 1em;
    white-space: pre-line;
}
#older span{
    font-size: 120%;
    text-decoration: underline;
}

/* Dark Mode */
.dark, .dark textarea{
    background-color: black;
    color: white;
}

.dark #menu a, .dark #settingsBar a, .dark #topbar a, .dark .button{
    background-color: #333;
    color: white;
}
